.header {
  height: 50px;
  /* background-color: black; */
  line-height: 50px;
  padding-left: 30px;
  border-bottom: 1px solid rgba(28, 31, 35, 0.08);
  flex-flow: row;
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.capital {
  flex-grow: 2;
}

.next-tick-button {
  flex-grow: 0;
}

.sider {
  width: 200px;
  background: var(--semi-color-fill-2)
}

.maincontent {
  height: 100%;
}

.content {
  height: 100%;
}